﻿@model EscuelaNet.Presentacion.Proyectos.Web.Models.LineasIndexModel

@{
    ViewBag.Title = "Index";
    var x = 1;
    for (var i = 10; i >= 0; i--)
    {
        x += 1;
    }
}

@section Header{
    <h1>Hola Cristian</h1>
}

<h2>@Model.Titulo</h2>

<p>
    El resultado de la suma es @x
</p>

@section Scripts
{
    <script>
        alert("Hola Cristian");
    </script>
}


