﻿@model EscuelaNet.Presentacion.Conocimientos.Web.Models.AsesorConocimientoModel

<div class="row">
    <div class="col-md-5">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Asesores de la unidad "@Model.Conocimiento.Nombre" del cliente "@Model.Unidad.Cliente.RazonSocial"</h3>


                <label class="text-success">@TempData["success"]</label>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>

                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Demanda</th>
                            <th>Idioma</th>
                            <th>Pais</th>
                            <th>Acciones</th>
                        </tr>

                        @foreach (var asesor in Model.Asesores)
                        {
                            <tr>
                                <td>@asesor.ID</td>
                                <td>@asesor.Nombre</td>
                                <td>@asesor.Apellido</td>
                                <td>@asesor.Demanda</td>
                                <td>@asesor.Demanda</td>
                                <td>@asesor.Idioma</td>
                                <td>@asesor.Pais</td>

                                <td>
                                    <a href="/Asesor/Edit/@asesor.ID" title="Editar Asesor" class="btn btn-toolbar">
                                        <label class="label bg-gray"><i class="fa fa-edit"></i> Editar</label>
                                    </a>

                                    <a href="/Conocimiento/DeleteConocimiento/@asesor.ID?conocimiento=@Model.Conocimiento.ID" title="Borrar asesor del conocimiento" class="btn btn-toolbar">
                                        <label class="label bg-gray"><i class="fa fa-remove"></i> Desvincular</label>
                                    </a>
                                </td>

                            </tr>
                        }


                        <tr>
                            <td colspan="6">
                                <a href="/Conocimiento/NewConocimiento/@Model.Conocimiento.ID" title="Agregar Asesor" class="btn btn-toolbar">
                                    <label class="label bg-gray"><i class="fa fa-plus"></i> Agregar Asesor</label>
                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

<div>
    @Html.ActionLink("Volver Atras", "../Conocimiento/Index/" )
</div>

@section Scripts{
    <script>
    </script>
}
