@model EscuelaNet.Presentacion.Conocimientos.Web.Models.NuevoAsesorModel

@{
    ViewBag.Title = "New";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Nuevo Asesor  </h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("New", "Asesor", null,
                FormMethod.Post, new { role = "form", data_toggle = "validor", @id = "myform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el nombre del proyecto.", data_minlength = "5" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "help-block with-errors" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el nombre del proyecto.", data_minlength = "5" } })
                        @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "help-block with-errors" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Disponibilidad, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EnumDropDownListFor(model => model.Disponibilidad, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Disponibilidad, "", new { @class = "help-block with errors" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Idioma, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Idioma, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el nombre del proyecto.", data_minlength = "5" } })
                        @Html.ValidationMessageFor(model => model.Idioma, "", new { @class = "help-block with-errors" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el nombre del proyecto.", data_minlength = "5" } })
                        @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "help-block with-errors" })
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="/Asesor/Index" title="Cancelar" type="button" class="btn btn-danger">Cancelar</a>
                </div>
            }
        </div>
        <!-- /.box -->
    </div>
</div>

<div>
    @Html.ActionLink("Volver Atras", "Index")
</div>

@section Scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>

    <script>
        $(document).ready(function () {
            $('myform').validator()
        })
    </script>
}
