﻿@model EscuelaNet.Presentacion.Capacitacion.Web.Models.CapacitacionTemaIndexModel

@{
    ViewBag.Title = "Temas";
}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Temas de la Capacitacion N°@Model.Capacitaciones.Id -
                    Direccion: @Model.Lugares.Calle, @Model.Lugares.Numero , Depto @Model.Lugares.Depto,
                    Piso @Model.Lugares.Piso</h3>

                <label class="text-success">@TempData["success"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Nivel</th>
                        </tr>
                        @foreach (var tema in Model.Temas)
                        {
                            <tr>
                                <td>@tema.Id</td>
                                <td>@tema.Nombre</td>
                                <td>@tema.Nivel</td>

                                <td>

                                    <a href="/capacitaciones/DeleteTema/@tema.Id?capacitacion=@Model.Capacitaciones.Id"
                                       title="borrar tema de instructor" class="btn btn-danger">
                                        Borrar
                                    </a>
                                </td>
                            </tr>

                        }
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <a href="/capacitaciones/NewTema/@Model.Capacitaciones.Id" title="Nuevo" class="btn btn-primary">
                                    Nuevo
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}
